.logo-header {
    background: transparent;
    flex: 1;
    padding: 1.5rem 10%;
    padding-top: 1.5rem;
    font-family: "Montserrat";
    
}

.logo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
}

/* navbar */
.navigasjon {
background-color: #ffffff; /* #1ABC9C #8db48e */
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.5rem;
padding: 1.25rem;
margin: 0 5%; /* 0 0 for navbar fra ventre til høyre */
height: 1.25rem;
gap: 0.5rem;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
box-shadow: 0rem;
}

/* .navigasjon:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
} */

.HVLTopia a {
    color: black;
    text-decoration: none;
    font-family: "Montserrat";
}

.HVLT__links a {
    color: black;
    height: 100%;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* navbar når hover */
.HVLT__links a:hover {
    background-color: lightgray;
    z-index: 1;
    height: 1.25rem;
    padding: 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
}

/* navbar når klikk */
.kontakt-aktiv a[href="HVLTkontaktoss.html"] {
    background-color: lightgrey;
    z-index: 1;
    position: relative;
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
}

.visjon-aktiv a[href="HVLTvisjon.html"] {
    background-color: lightgray;
    z-index: 1;
    position: relative;
    padding: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
}

.informasjon-aktiv a[href="HVLTinformasjon.html"] {
    background-color: lightgray;
    z-index: 1;
    position: relative;
    padding: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
}

.HVLT__links ul {
display: flex;
gap: 2rem;
align-items: center;
}

/* Hjem */
.hjem {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.6rem;
    margin: 0rem 5%;
    height: 38rem;
    border-radius: 0rem;
    box-sizing: border-box;
}

.hjem-innhold {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1;
}

/* bakgrunn */
body {
    background: linear-gradient(to bottom, 
   /* #01151E, */
   /* #124559, */
    #598392, 
    #FBFFF1);
    /* #C9E4CA, 
    #87BBA2,
    #55828B, 
    #3B6064, 
    #364958); */
    /* background: linear-gradient(to bottom, #ffafbd, #ffc4a0); */
    margin: 0rem;
    padding: 0rem;
}

/* kontakt */
.hjemkontakt {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.6rem;
    margin: 0rem 5%;
    height: 38rem;
    border-radius: 0rem;
    box-sizing: border-box;
}

.hjemkontakt-innhold {
    font-size: 1rem;
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 3rem; 
    padding: 1.5rem;
    padding-top: 2rem;
}

.grid-item {
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Visjon */
.hjemvisjon {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.6rem;
    margin: 0rem 5%;
    height: 38rem;
    border-radius: 0rem;
    box-sizing: border-box;
}

.hjemvisjon-innhold {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1;
}


/* Informasjon */
.hjeminformasjon {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.6rem;
    margin: 0rem 5%;
    height: 38rem;
    border-radius: 0rem;
    box-sizing: border-box;
}

.hjeminformasjon-innhold {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1;
}